@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.span-container {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 30px;
}

.span-content {
  position: absolute;
  left: 0;
  right: 0;
  transition: transform 1s ease-in-out, opacity 0.5s ease-in-out 0.2s;
}

.slide-enter {
  transform: translateY(100%);
}

.slide-exit {
  transform: translateY(100%);
  opacity: 0;
}

.slide-enter-active {
  transform: translateY(0);
}

.slide-exit-active {
  transform: translateY(-100%);
  opacity: 0;
}
